//
// user.scss
// Use this to write your custom SCSS
//

@import 'mixins';
@import 'datatables';
@import 'boxicons';
@import 'daterangepicker';
@import 'tags';
@import 'upload-box';

.text-inherit {
    color: inherit;
    font-weight: inherit;
}

.bx {
    font-size: 110%;
    line-height: inherit !important;
    vertical-align: middle !important;
}

// Cards
.card-body {
    padding: ($spacer * 1.4);
}

.card-shadow {
    box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.card-img-top-equal {
    width: 100%;
    height: 16vh;
    object-fit: cover;
}

// Cards
.navbar-brand {
    .bx {
        width: 1.9rem;
    }
}
.navbar-dark {
    .navbar-brand {
        color: $white;
        font-weight: 400;
    }
}

.table {
    margin: 0;

    tr {
        &:hover .action-item {
            visibility: visible;
        }
    }

    &.table-dark {
        th {
            color: white;
        }
    }

    th,
    td {
        vertical-align: middle;

        &.tid {
            text-align: center;
            width: 3%;
        }
    }

    th {
        border-top: none;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 1rem;
        border-width: 1px !important;
    }

    td .action-item {
        &:hover {
            background-color: white;
            box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .1);
        }
    }

    th,
    td {
        &:first-child {
            padding-left: 1.2rem;
        }

        &:last-child {
            padding-right: 1.2rem;
        }
    }
}


// Dropdown
.dropdown {
    &.nav-item .dropdown-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.dropdown-menu {
    top: 130%;
    padding: 5px;

    .dropdown-item {
        color: $text-bold;
        font-size: .9rem;
        @include border-radius(.25rem);

        &:focus,
        &:hover,
        &.active {
            background: #f5f6fa;
        }

        span {
            display: block;
            color: $text-base;
            font-size: .85rem;
            margin-top: 3px;
        }
    }
}

.navbar {
    .dropdown-menu {
        animation-name: animate-flyout;
        animation-duration: 0.2s;
    }
}

// Animations
@keyframes animate-flyout {
    0% {
        @include translateY(-10px);
        @include opacity(0);
    }
    100% {
        @include translateY(0);
        @include opacity(1);
    }
}

.actions {
    .dropdown {
        .action-item {
            visibility: hidden;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 28px;
            height: 28px;

            @include border-radius(100rem);
            @include transition(box-shadow 250ms ease);
        }

        &.is-active {
            .action-item {
                background-color: rgba(78,111,249,.18);
                border: 1px solid $primary;
                box-shadow: inset 0 0 0 1px white,
            }
        }
    }

    a:active .action-item {
        visibility: visible;
    }
}

//
// Small
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

    .bx {
        position: relative;
        top: -0.1rem;
    }

    small,
    .small {
        font-size: 80% !important;
    }
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 7px;
    display: block;
    transform: translateY(-50%);
}

.select2-auto .select2.select2-container {
  width: auto !important;
}

//
// Tooltip Margin
//
.bs-tooltip-top {
    top: $tooltip-distance * -1 !important;
}

.bs-tooltip-right {
    left: $tooltip-distance !important;
}

.bs-tooltip-bottom {
    top: $tooltip-distance !important;
}

.bs-tooltip-left {
    left: $tooltip-distance * -1 !important;
}

//
// Form
//
.form-control:disabled {
    opacity: 0.3;
}

.custom-checkbox .custom-control-label:before {
    border-radius: 5%;
}

.custom-control-label:after,
.custom-control-label:before {
    top: 0.1rem;
    width: 1.2rem;
    height: 1.2rem;
}

//
// Data Remove
//
[data-dz-remove] {
    position: absolute;
    right: 10px;
    top: 10px;
    Z-index: 99999;
}

//
// Progress
//
.progress-upload {
    display: none;
    position: absolute;
    width: 80%;
    left: 11%;
    top: 120px;
    z-index: 999;
}
