// 
// user.scss
// Use this to write your custom SCSS
//

@import 'user/datatables';
@import 'user/daterangepicker';
@import 'user/tags';

.bx {
    font-size: 1.2rem;
    line-height: 1.40625rem;
}

.feather {
	position: relative;
	top: -1px;
}

.bx {
	font-size: 140%;
}

.navbar-brand .bx {
	position: relative;
	top: 6px;
}

.bx-wrapper .bx,
.card-title .bx,
.btn .bx {
	font-size: 110%;
	position: relative;
	top: 2px;
}

.navbar-nav .nav-link > .bx {
	min-width: 1.8rem;
}

.table {
	margin: 0;

	tr {
		&:hover .action-item {
			visibility: visible;
		}
	}

	&.table-dark {
		th {
			color: white;
		}
	}

	th,
	td {
		vertical-align: middle;

		&.tid {
			text-align: center;
			width: 3%;
		}
	}

	th {
		border-top: none;
		font-size: .8rem;
		text-transform: uppercase;
		padding: 1rem;
		border-width: 1px !important;
	}

	td .action-item {
		.feather {
			top: 0;
		}

		&:hover {
			background-color: white;
			box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .1);
		}
	}

	th,
	td {
		&:first-child {
			padding-left: 1.2rem;
		}

		&:last-child {
			padding-right: 1.2rem;
		}
	}
}

.actions {
	.dropdown {
		.action-item {
			visibility: hidden;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: 28px;
			height: 28px;

			@include border-radius(100rem);
			@include transition(box-shadow 250ms ease);
		}

		&.is-active {
			.action-item {
				background-color: rgba(78,111,249,.18);
				border: 1px solid $primary;
				box-shadow: inset 0 0 0 1px white,
			}
		}
	}
	
	a:active .action-item {
		visibility: visible;
	}
}

//
// Small
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	small,
	.small {
		font-size: 80%;
	}

	.bx {
	    position: relative;
	    top: 0.19rem;
	}
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 7px;
    right: 7px;
	display: block;
}

.select2-sm {
	.select2-container--default .select2-selection--single .select2-selection__arrow {
	    top: 2px;
	    right: 3px;
	}
}

.select2-auto .select2.select2-container {
  width: auto !important;
}

.form-control:disabled {
	opacity: 0.3;
}

[data-dz-remove] {
	position: absolute;
	right: 10px;
	top: 10px;
	Z-index: 99999;
}

.progress {
	display: none;
	position: absolute;
	width: 80%;
	left: 11%;
	top: 120px;
	z-index: 999;
}
