//
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

$gray-100: #F7F8FA !default;

$black:    #1D2332 !default;
$black-dark: #1D2332 !default;

$modal-inner-padding:				1rem !default;

$tooltip-font-size:                 .9rem !default;
$tooltip-max-width:                 220px !default;
$tooltip-color:						white !default;
$tooltip-bg:						#3B4651 !default;
$tooltip-padding-y:                 0.48rem !default;
$tooltip-padding-x:                 0.75rem !default;

$badge-font-size:					82% !default;
