// 
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

$modal-inner-padding:				1rem !default;

$tooltip-color:						white !default;
$tooltip-bg:						#3B4651 !default;
$tooltip-padding-y:                 0.6875rem !default;
$tooltip-padding-x:                 0.8125rem !default;

$badge-font-size:					82% !default;
