/* Error: Undefined variable.
 *    ,
 * 11 | $light:                            $gray-100;
 *    |                                    ^^^^^^^^^
 *    '
 *   resources/assets/scss/themes/mango/_colors.scss 11:15  @import
 *   resources/assets/scss/mango.scss 8:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502  $light:                            $gray-100;\a    \2502                                     ^^^^^^^^^\a    \2575 \a   resources/assets/scss/themes/mango/_colors.scss 11:15  @import\a   resources/assets/scss/mango.scss 8:9                   root stylesheet";
}
